<div class="modal left fadeInUp bg-color2" (click)="CloseMenu()" style="display: block;bottom:42px" id="leftmenu2">


</div>
<div [@fadeInOut] class="model-menu bg-color" style="display: block;bottom: 42px;">
  <div class="model-m-body" style="margin-top: 50px;">
    <aside class="sidebar2">

      <div class="col-md-12 p-0">
        <div class="col-md-4 blue-seprator1">
          <img src="../../../assets/images/logo.png" class="img-responsive">
        </div>
        <div class="col-md-8">
          <div class="middle-align1">
            <div class="col-md-12 p-0">
              <span class="u-name">{{UserData.Full_Name}}</span>
            </div>
            <div class="col-md-12 p-0">
              <span class="u-type">{{UserData.Role}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 p-0 mt-10">
        <div class="m-leftsidebar bdr-t pt-0" style="margin-top: 28%;">

          <div class="menu">
            <div class="panel-group menu-small" id="accordionMenu" role="tablist" aria-multiselectable="true">
              <!-- refernce-document for supervisor -->
              <div *ngIf="checkMenu('refernce-document-supervisor')" class="panel panel-default">
                <div class="acc-heading" role="tab" id="headingOne">
                  <h4 class="acc-title">
                    <a role="button" (click)="OpenMenu('refernce-document-supervisor')"
                      [ngClass]="[MenuName == '/refernce-document-supervisor' ? 'menu-active1': '']">
                      refernce document upload
                    </a>
                  </h4>
                </div>
              </div>
              <!-- refernce-document for agent -->
              <div *ngIf="checkMenu('view-file')" class="panel panel-default">
                <div class="acc-heading" role="tab" id="headingOne">
                  <h4 class="acc-title">
                    <a role="button" (click)="OpenMenu('view-file')"
                      [ngClass]="[MenuName == '/view-file' ? 'menu-active1': '']">
                      refernce document view
                    </a>
                  </h4>
                </div>
              </div>

              <!-- <div class="panel panel-default">
                <div class="acc-heading" role="tab" id="headingthree">
                  <h4 class="acc-title">
                    <a role="button" (click)="OpenMenu('change-password')"
                      [ngClass]="[MenuName == '/change-password' ? 'menu-active1': '']">
                      Reset Password
                    </a>
                  </h4>
                </div>
              </div> -->
              <div class="panel panel-default" [ngClass]="{'disableDiv': btndis}">
                <div class="acc-heading" role="tab" id="headingOne">
                  <h4 class="acc-title">
                    <a role="button" (click)="Logout()">
                      Logout
                    </a>
                  </h4>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>



    </aside>
  </div>
</div>