<app-header [title]="title"></app-header>

<div class="container-fluid p-0 white">
  <div class="col-md-12 col-sm-12 col-sm-12 p-0">
    <div class="col-md-12 mt-10">
      <div class="search-grid">
        <span class="pull-left mr-10 pt-5 label-std control-label b-600 w-auto">Client List</span>
        <span class="pull-left mr-10 pt-3 wt-15">
          <select (change)="ClientListOnChange($event)" #selectedelem class="form-control">
            <option [selected]="ClientList.length >1" disabled>Select</option>
            <option *ngFor="let c of ClientList" [value]="c.Client_Id" [selected]="c.selected">{{c.Client_Name}}
            </option>
          </select>
          <div class="error" *ngIf="selecterror">
            Please select the client
          </div>
        </span>
        <span class="pull-left mr-10 pt-5 label-std control-label b-600 w-auto">Upload File</span>
        <span class="form-group referance-up pt-3">
          <div class="file-upload-wrapper" [attr.data-text]="Filename">
            <input (change)="GetUploadFileData($event)" name="file-upload-field" type="file" accept="{{acceptFileType()}}"
              class="file-upload-field" value="" onclick="this.value = null">
          </div>
          <div class="error" *ngIf="DisplayFileError">
            Please select the file
          </div>
          <div class="error" *ngIf="DisplaySizeError">
            Please select the file less than 5MB
          </div>
          <div class="error" *ngIf="DisplayTypeError">
              Please Select {{acceptFileType()}} file only
            </div>
        </span>
        <span class="pull-left mr-10 pt-3">
          <button (click)="ReferenceFileUpload()" [disabled]="uploadBtnDisable" style="border: none;height: 24px;"
            class="btn blue square-btn blue-hover btn-txt mr-10" data-toggle="modal" data-target=".file-success">
            <i class="fa fa-upload mr-5" aria-hidden="true"></i>Upload </button>
        </span>
      </div>
    </div>

    <div class="col-md-12 col-sm-12 p-0 insrt-tbl">
      <div class="sticky-table sticky-ltr-cells border-0 table-hight">
        <ag-grid-angular class="ag-theme-balham gd-w" (firstDataRendered)="AutoSizeGrid($event)"
          (gridReady)="OnGridReady($event)"  [rowData]="RowData"
          (columnResized)="onColumnResized($event)" [columnDefs]="ColumnDefs" [pagination]="true"
          [paginationAutoPageSize]="true" [enableColResize]="true" [enableSorting]="true" [enableFilter]="true"
          (rowData)="OnGridReady($event)" [suppressColumnVirtualisation]="true" (rowClicked)="OnRowClicked($event)"
          (cellClicked)='onCellClicked($event)'>
        </ag-grid-angular>
      </div>
    </div>

  </div>

  <!-- Count modal -->

  <app-read-count-modal [document]="activeDocument" *ngIf="openCountModal==true" (Toggle)="closeModal($event)"></app-read-count-modal>
